Django==2.2.13
django-addanother==2.0.0
django-bootstrap-breadcrumbs==0.9.1
django-cleanup==4.0.0
django-crispy-forms==1.8.1
django-money==1.0
django-tinymce==2.8.0
Pillow==6.2.1
psycopg2==2.8.3
py-moneyed==0.8.0
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
